* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: bisque;
}

header{
    width: 100%;
    height: 30px;
    background: #f0b277;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
}

.nav{
    font-family:'Tahoma', sans-serif;
    background-color: #f0b277;
    padding: 0px;
    margin-bottom:lem;
}

.nav_tittle{
    background-color: rgb(245, 245, 245);
    font-size: 1em;
    display: inline-block;
    vertical-align:middle;
}
.nav_ul{
    list-style:none;
    display: inline-block;
    margin-left: 70vw;
    text-align: right;
}
.nav_li{
    display: inline-block;
    padding: 0 5px;
    text-align: right;

}
.nav_li a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
    text-align: right;
}
.nav_li a:hover{
    color: #ff8000;
}
header a {
    color: white;
    font-weight: 100;
    text-decoration: none;
    margin-right: 20px;
}

header ul li {
    list-style: none;
    display: inline-block;
}

h2 {
    color: #11385D;
    text-align: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card {
    width: 38%;
    background:whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
    border-block-color: black;
    
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container .card img {
    width: 60%;
    height: 60%;
}

body h1 {
    text-align: center;
    text-decoration:chocolate;
}

body img {
    display: block;
    margin: auto;
    width: auto;
    border-radius: 6px;
}