* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: bisque;
}

header {
    width: 100%;
    height: 30px;
    background: #f0b277;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
}

nav {
    display: inline-block;
    width: 70%;
    text-align: right;
}

header a {
    color: white;
    font-weight: 100;
    text-decoration: none;
    margin-right: 20px;
}

header ul li {
    list-style: none;
    display: inline-block;
}

.logo {
    font-weight: 600;
}

.content {
    padding: 50px;
    text-align: center;
}

.content h1 {
    color: #11385D;
    font-weight: 900;
    font-size: 30px;
}

h2 {
    color: #11385D;
    text-align: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card {
    width: 30%;
    background: rgb(250, 250, 250);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container .card img {
    width: 60%;
    height: 60%;
}

body h1 {
    text-align: center;
    text-decoration: none;
}

body img {
    display: block;
    margin: auto;
    width: auto;
    background-color:crimson;
}