* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: bisque;
}
header{
    width: 100%;
    height: 15px;
    background: #1f1f20;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
}
header a:hover{
    text-decoration: underline;
    text-decoration-color:crimson;
}
.nav{
    font-family:'Tahoma', sans-serif;
    background-color: #1f1f20;
    padding: 0px;
    margin-bottom:lem;
}

.nav_tittle{
    background-color: rgb(245, 245, 245);
    font-size: 1em;
    display: inline-block;
    vertical-align:middle;
}
.nav_ul{
    list-style:none;
    display: inline-block;
    margin-left: 70vw;
    text-align: right;
}
.nav_li{
    display: inline-block;
    padding: 0 5px;
    text-align: right;

}
.nav_li a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
    text-align: right;
}
.nav_li a:hover{
    color: #ff8000;
}

header ul li {
    list-style: none;
    display: inline-block;
}


h1 {
    text-align: center;
}
.content {
    padding: 50px;
    text-align: center;
}

.content h1 {
    color: #11385D;
    font-weight: 900;
    font-size: 30px;
}

.content h2 {
    color: #11385D;
}

.rows {
    display: inline-block;
    width: 40%;
    margin: 10px 10px;
    vertical-align: top;
}

button {
    width: 30%;
    height: 30px;
    background:chocolate;
    color: white;
    border-radius: 12px;
    border: none;
}

button:hover {
    width: 100%;
    height: 30px;
    background: #a2adb6;
    color:chocolate;
    border-radius: 12px;
    border: none;
}

input,
textarea {
    height: 25px;
    width: 70%;
    border-radius: 12px;
    border: 1px #11385D solid;
}

textarea {
    height: 70px;
    width: 80%;
}

.ph-center::-webkit-input-placeholder {
    text-align: center;
    line-height: 100px;
}

body h1 {
    text-align: center;
    text-decoration: none;
    text-transform: inherit;
}
.social {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background:darksalmon;
    padding: 10px 15px;
    text-decoration:firebrick;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.social ul li a:hover {
    background: rgb(61, 76, 85);
    padding: 10px 30px;
   }