*{
    margin:0;
    padding: 0;
}

html{
    min-height: 100%;
    position: relative;
}
body{
    background: bisque;
    margin: 0 auto;
    width: 100%;
}
.banner{
    width: 100%;
    height: 470px;
    border: 3px solid black;
    margin: auto;
    background-image: url(../imagenes/belen.jpg);
    background-size: 100% 100%;
    background-attachment:local;
    position:relative;
    opacity: 0.9;
}
.bienvenido{
   
    color:blanchedalmond;
    font-size: 60px;
    text-align: left;
    font-family:  'Comic Sans MS', 'cursive';
    text-shadow: red 0 -2px;
}
.soy{
   
    color:blanchedalmond;
    font-size: 30px;
    text-align: left;
    font-family:  'Comic Sans MS', 'cursive';
    text-shadow: coral 0 -2px;
    text-align: center;

}
header h4{
    color:blanchedalmond;
    font-size: 20px;
    text-align: left;
    font-family:  'arial', 'sans serif';
    text-shadow:black 0 -2px;
    text-align: center;
}
.img_Jhuli{
  
    vertical-align: middle;
    max-width: 200px;
    height: 200px;
    border-radius: 48%;
    border: 4px solid #fff;
   }
.nav{
    font-family:'Tahoma', sans-serif;
    background-color:#1f1f20;
    padding: 0px;
    margin-bottom:0px;
}
.nav_li{
    display: inline-block;
    padding: 0 2px;
    text-align: right;

}
.nav_li a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    text-align: right;
}
.nav_li a:hover{
    color: #ff8000;
}
header a:hover{
    text-decoration: underline;
    text-decoration-color:crimson;
}
section h2{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content:  center;
    flex-direction: column;
    text-align: center;
    font-family: 'Secular One', sans-serif;
}
p{
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'arial', sans-serif;
}
body img {
    display: block;
    margin: auto;
    width: auto;
}
/*ABOUT*/
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card {
    width: 30%;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto;
    text-align: center;
    transition: all 0.20s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color:rgb(250, 191, 132);
}

.container .card img {
    width: 70%;
    height: 50%;
    margin-bottom: 15px;
}

h2 {
    color: #11385D;
    text-align: center;
    padding: 20px;
}

body h1 {
    text-align: center;
    text-decoration:chocolate;
}

/*CONTACT*/
.content {
    padding: 50px;
    text-align: center;
}

.content h1 {
    color: #11385D;
    font-weight: 900;
    font-size: 30px;
}

.content h2 {
    color: #11385D;
}
.rows {
    display: inline-block;
    width: 40%;
    margin: 10px 10px;
    vertical-align: top;
}

button {
    width: 30%;
    height: 30px;
    background:chocolate;
    color: white;
    border-radius: 12px;
    border: none;
}

button:hover {
    width: 100%;
    height: 30px;
    background: #a2adb6;
    color:chocolate;
    border-radius: 12px;
    border: none;
}

input,
textarea {
    height: 25px;
    width: 70%;
    border-radius: 5px;
    border: 1px #11385D solid;
}

textarea {
    height: 80px;
    width: 100%;
}

.ph-center::-webkit-input-placeholder {
    text-align: center;
    line-height: 250px;
}

.social {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background:darksalmon;
    padding: 10px 15px;
    text-decoration:firebrick;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 5px;
}

.social ul li a:hover {
    background: rgb(61, 76, 85);
    padding: 10px 30px;
   }
.bannerContact{
    width: 100%;
    height: 470px;
    border: 3px solid black;
    margin: auto;
    background-image: url(../imagenes/contacto.jpg);
    background-size: 100% 100%;
    background-attachment:local;
    position:relative;
    opacity: 0.9;
}
/*FOOTER*/

footer {
    background-color: #1f1f20;
    color: white;
    text-align: center;
}

.content-foo {
    display: inline-block;
    align-items: center;
    vertical-align: top;
    padding: 10px 70px 0px 70px;
    margin: 0px;
    font-family: 'Anton', sans-serif;
}

footer a {
    color: white;
    display: block;
    text-decoration: none;
}

footer h5 {
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
}
