*{
    margin:0;
    padding: 0;
    box-sizing: 0;
}

html{
    min-height: 100%;
    position: relative;
}
body{
    background: bisque;
    margin: 0 auto;
    width: 100%;
}

header {

    width: 100%;
    height: 470px;
    border: 3px solid black;
    margin: auto;
    background-image: url(belen.jpg);
    background-size: 100% 100%;
    background-attachment:local;
    position:relative;
    opacity: 0.9;
}
.bienvenido{
   
    color:blanchedalmond;
    font-size: 60px;
    text-align: left;
    font-family:  'Comic Sans MS', 'cursive';
    text-shadow: red 0 -2px;
}
.soy{
   
    color:blanchedalmond;
    font-size: 30px;
    text-align: left;
    font-family:  'Comic Sans MS', 'cursive';
    text-shadow: coral 0 -2px;
    text-align: center;

}
header h4{
    color:blanchedalmond;
    font-size: 20px;
    text-align: left;
    font-family:  'arial', 'sans serif';
    text-shadow:black 0 -2px;
    text-align: center;
}
.img_Jhuli{
  
    vertical-align: middle;
    max-width: 200px;
    height: 200px;
    border-radius: 48%;
    border: 4px solid #fff;
   }
.nav{
    font-family:'Tahoma', sans-serif;
    background-color:#1f1f20;
    padding: 0px;
    margin-bottom:0px;
}

.nav_ul{
    list-style:none;
    display: inline-block;
    margin-left: 70vw;
    text-align: right;
}
.nav_li{
    display: inline-block;
    padding: 0 5px;
    text-align: right;

}
.nav_li a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
    text-align: right;
}
.nav_li a:hover{
    color: #ff8000;
}
header a:hover{
    text-decoration: underline;
    text-decoration-color:crimson;
}
section h2{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content:  center;
    flex-direction: column;
    text-align: center;
    font-family: 'Secular One', sans-serif;
}
p{
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'arial', sans-serif;
}
body img {
    display: block;
    margin: auto;
    width: auto;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card {
    width: 30%;
    background:bisque;
    overflow: hidden;
    margin: auto;
    text-align: center;
    transition: all 0.20s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color:rgb(250, 191, 132);
}

.container .card img {
    width: 70%;
    height: 50%;
    margin-bottom: 15px;
}


