*{
    margin:0;
    padding: 0;
    box-sizing: 0;
}

html{
    min-height: 100%;
    position: relative;
}
body{
    background: bisque;
    margin: 0 auto;
    width: 100%;
}

header {

    width: 100%;
    height: 30px;
    background: #f0b277;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
}

.nav{
    font-family:'Tahoma', sans-serif;
    background-color: #f0b277;
    padding: 0px;
    margin-bottom:lem;
}

.nav_tittle{
    background-color: rgb(245, 245, 245);
    font-size: 1em;
    display: inline-block;
    vertical-align:middle;
}
.nav_ul{
    list-style:none;
    display: inline-block;
    margin-left: 70vw;
    text-align: right;
}
.nav_li{
    display: inline-block;
    padding: 0 5px;
    text-align: right;

}
.nav_li a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
    text-align: right;
}
.nav_li a:hover{
    color: #ff8000;
}

body h1{
    color: black;
    text-decoration:none;
    font-size: 100%;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
header a{
    color:white;
    font-weight: 100%;
    text-decoration: none;
    margin-right: 10px;
}
header ul li{
    list-style: none;
    display: inline-block;
}
header a:hover{
    text-decoration: underline;
    text-decoration-color:crimson;
}
section h2{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content:  center;
    flex-direction: column;
    text-align: center;
    font-family: 'Secular One', sans-serif;
}
section h3{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content:  center;
    flex-direction: column;
    text-align: center;
    font-family: 'Secular One', sans-serif;
}
section h4{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content:  center;
    flex-direction: column;
    text-align: center;
    font-family: 'Secular One', sans-serif;
}

