*{
    margin:0;
    padding: 0;
}

.container{
    background-color: lightblue;
}
body h1{
    font-family:'Lucida Sans', sans-serif;
    text-align: center;
}
.caja1{
    width:330px;
}
.caja2 {
    width: 200px;
    color: white;
}

.label1 {
    background-color: #006effee;
    color: white;
    width: 250px;
}

.label2 {
    background-color: #006effee;
    color: white;
    width: 200px;
}
.form-group1{
margin-left: 50px;
}
.btn-naranja{
    background-color:darkorange;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: blanchedalmond;
    border-color: blanchedalmond;
}
.btn-rojo{
    background-color: darkred;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: blanchedalmond;
    border-color: blanchedalmond;
}
.form-group2{
    margin-left: 80px;
}